<footer class="footer">
    <div class="container">
        <div class="footer__list">
            <div class="footer__list-col">
                <div class="footer__item">
                    <div class="footer__contacts">
                        <div class="footer__contacts-item">
                            <div class="footer__title">Наши офисы</div>
                            <p class="footer__contacts-text">
                                Московский офис <br>
                                +7 455 267-89-07 <br>
                                Берсеневский пер., д. 56, стр. 4, <br>
                                6-й эт., Москва, 567754
                            </p>
                        </div>
                        <div class="footer__contacts-item">
                            <p class="footer__contacts-text">
                                Ростовский офис <br>
                                +7 878 888-01-67 <br>
                                Буденовский пр-т, д. 84, 6-й эт., <br>
                                Ростов-на-Дону, 679965
                            </p>
                        </div>
                    </div>
                </div>
                <div class="footer__item">
                <div class="footer__title">Мы в соц сетях</div>
                <div class="footer__item-content">
                    <a href="##">Instagram</a>
                    <a href="##">Facebook</a>
                </div>
            </div>
            </div>
            <div class="footer__item">
                <div class="footer__title">Свяжитесь с нами</div>
                <div class="footer__item-content">
                    <a href="tel:+3 67 8754 7894" class="f-roboto">+3 67 8754 7894</a>
                    <a href="mailto:mflowers@flo.com">mflowers@flo.com</a>
                    <button class="button">
                        <span class="button__content">Написать</span>
                        <i class="button__icon icon">
                            <svg viewBox="0 0 20 16" width="20" height="16">
                                <use xlink:href="/img/sprite.svg#mail"></use>
                            </svg>
                        </i>
                    </button>
                </div>
            </div>
        </div>
        <div class="footer__copy">
            Авторские права 2008-2022 M-flowers.com
        </div>
    </div>
</footer>
