<header class="header">
  <div class="container">
    <div class="header__container">
      <a href="##" class="header__logo">
        <img src="/img/logo.png" class="header__logo-img" alt="логотип">
      </a>
      <div class="top-menu">
        <ul class="top-menu__list list-reset">
          <li class="top-menu__item">
            <a href="#" class="top-menu__link">Магазины</a>
          </li>
          <li class="top-menu__item">
            <a href="#" class="top-menu__link">Контакты</a>
          </li>
          <li class="top-menu__item">
            <a href="#" class="top-menu__link">О нас</a>
          </li>
        </ul>
      </div>
      <div class="header__right">
        <a class="header__phone button button--empty f-roboto" href="tel:+3 67 8754 7894">+3 67 8754 7894</a>
        <button class="header__login button button--empty">
          <span class="button__content">Войти</span>
        </button>
        <button class="button button--empty-border header__create">
          <span class="button__content">Создать аккаунт</span>
        </button>
        <ul class="lang list-reset">
          <li class="lang__item">
            <a href="#" class="lang__link">Ru</a>
          </li>
          <li class="lang__item lang__item--active">
            <a href="#" class="lang__link">Eng</a>
          </li>
        </ul>
        <div class="header__burger">
          <div class="icon">
            <svg viewBox="0 0 30 30" width="30" height="30">
              <use xlink:href="/img/sprite.svg#burger"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
