<div class="root-center">
    <div class="root-center__wrapper">
        <div class="container">
            <div class="root-center__title">
                Мы будем рады сотрудничать с вами на платформе 'Международной цветочной онлайн-площадки'!
            </div>
            <div class="root-center__sub-title">
                Присоединяйтесь к нам и начните получать доход с бизнеса в первый месяц регистрации!
            </div>
            <div class="root-center__buttons">
                <button class="button button--bigger">
                    <span class="button__content">Начать покупать</span>
                </button>
                <button class="button button--inner button--bigger-accent">
                    <span class="button__content">Начать продавать</span>
                </button>
            </div>
        </div>
    </div>
</div>